@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

.aboutus-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .aboutus-aboutus {
    width: 100%;
    height: 3117px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .aboutus-footer {
    top: 2300.100830078125px;
    left: 0px;
    width: 1440px;
    height: 816.899169921875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-rectangle {
    top: 261.899169921875px;
    left: 0px;
    width: auto;
    height: 555px;
    position: absolute;
  }
  .aboutus-row1 {
    top: 311.899169921875px;
    left: 186px;
    width: 1068px;
    height: 91px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-cta {
    top: 0px;
    left: 640px;
    width: 428px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text {
    top: 10px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-buttonbutton23 {
    top: 0px;
    left: 253px;
    width: 175px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-rectangle1 {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 50px;
    position: absolute;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
  }
  .aboutus-text02 {
    top: 11px;
    left: 50px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-divider {
    top: 90px;
    left: 0px;
    width: 1068px;
    height: 1px;
    opacity: 0.10;
    position: absolute;
  }
  .aboutus-row2 {
    top: 442.899169921875px;
    left: 186px;
    width: 979px;
    height: 182px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-newsletter {
    top: 0px;
    left: 0px;
    width: 289px;
    height: 139px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-form {
    top: 88px;
    left: 0px;
    width: 289px;
    height: 51px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-rectangle2 {
    top: 50px;
    left: 0px;
    width: 289px;
    height: 1px;
    opacity: 0.10;
    position: absolute;
  }
  .aboutus-text09 {
    top: 10px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    opacity: 0.50;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-submit {
    top: 0px;
    left: 239px;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 210, 221, 1);
  }
  .aboutus-ickeyboardarrowright48px {
    top: 15.3125px;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-path {
    top: 5px;
    left: 7.1541666984558105px;
    width: 6px;
    height: 10px;
    position: absolute;
  }
  .aboutus-path1 {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .aboutus-services {
    top: 0px;
    left: 389px;
    width: 106px;
    height: 182px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text11 {
    color: rgba(255, 210, 221, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text13 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text15 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text17 {
    top: 122px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text19 {
    top: 162px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-about {
    top: 0px;
    left: 667px;
    width: 65px;
    height: 182px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text21 {
    color: rgba(255, 210, 221, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text23 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text25 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text27 {
    top: 122px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text29 {
    top: 162px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-help {
    top: 0px;
    left: 903px;
    width: 76px;
    height: 102px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text31 {
    color: rgba(255, 210, 221, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text33 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text35 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-row3 {
    top: 694.899169921875px;
    left: 186px;
    width: 1068px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .aboutus-text37 {
    top: 2px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text39 {
    top: 2px;
    left: 173px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-social {
    top: 0px;
    left: 934.038330078125px;
    width: 133.96165466308594px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-frame001facebook {
    top: 1px;
    left: 0px;
    width: 9.923307418823242px;
    height: 19.844961166381836px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-path2 {
    top: 0px;
    left: 0px;
    width: 10px;
    height: 20px;
    position: absolute;
  }
  .aboutus-frame003twitter {
    top: 2px;
    left: 49.96165466308594px;
    width: 22px;
    height: 17.875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-path3 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 18px;
    position: absolute;
  }
  .aboutus-frame004instagram {
    top: 0px;
    left: 111.96165466308594px;
    width: 22px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-shape {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    position: absolute;
  }
  .aboutus-shape1 {
    top: 5.5px;
    left: 5.5px;
    width: 11px;
    height: 11px;
    position: absolute;
  }
  .aboutus-oval {
    top: 4.354625225067139px;
    left: 16.179624557495117px;
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .aboutus-vector {
    top: 0px;
    left: 199px;
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .aboutus-our-mission {
    top: 1050px;
    left: 44px;
    width: auto;
    height: 350px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    align-content: center;
  }
  .aboutus-rectangle67 {
    top: 0px;
    left: 0px;
    width: 1345px;
    height: 252px;
    position: absolute;
    border-radius: 5px;
  }
  .aboutus-our-mission1 {
    top: 33px;
    left: 53px;
    width: 1236px;
    height: 317px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-text41 {
    color: rgba(255, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text43 {
    top: 93px;
    left: 6px;
    color: rgba(0, 0, 0, 1);
    width: 1500px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-our-mission2 {
    top: 1418px;
    left: 44px;
    width: 1345px;
    height: 411px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-rectangle671 {
    top: 0px;
    left: 0px;
    width: 1345px;
    height: 252px;
    position: absolute;
    border-radius: 5px;
  }
  .aboutus-our-mission3 {
    top: 82px;
    left: 53px;
    width: 1234px;
    height: 329px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-text45 {
    color: rgba(255, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Regular;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-text47 {
    top: 105px;
    left: 4px;
    color: rgba(0, 0, 0, 1);
    width: 1500px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Light;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-hero-section {
    top: -53px;
    left: -1308px;
    width: 2823px;
    height: 1013px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-hero-text-quotes {
    top: 192px;
    left: 2099px;
    width: 724px;
    height: 388px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-text49 {
    color: rgba(59, 59, 59, 1);
    width: 724px;
    height: auto;
    position: absolute;
    font-size: 75px;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: 56px;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-hero-gradient-design {
    top: 0px;
    left: 0px;
    width: 2249.95751953125px;
    height: 1013px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-ellipse10 {
    top: 442.6333923339844px;
    left: 0px;
    width: 1297px;
    height: 526px;
    position: absolute;
    box-shadow: 0px 4px 100px 0px rgba(235, 233, 233, 1) ;
  }
  .aboutus-ellipse8 {
    top: 0px;
    left: 824px;
    width: 1426px;
    height: 1013px;
    position: absolute;
  }
  .aboutus-text54 {
    top: 406px;
    left: 2300px;
    color: rgba(0, 0, 0, 1);
    width: 604px;
    height: auto;
    position: absolute;
    font-size: 26px;
    font-style:normal;
    text-align: justify;
    font-family: Roboto;
    font-weight: 300;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-blue-modern-education-logo21 {
    top: 123px;
    left: -94px;
    width: 844px;
    height: 769px;
    position: absolute;
  }
  .aboutus-group164 {
    top: 1987px;
    left: 97px;
    width: 1228px;
    height: 513px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-our-collaberators {
    top: 0px;
    left: 2px;
    width: 630px;
    height: 513px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-group146 {
    top: 0px;
    left: 0px;
    width: 413px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-donorsfrom-tkm {
    top: 0px;
    left: 0px;
    width: 413px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-text55 {
    color: rgba(250, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Bold;
    text-align: left;
    font-family: SF UI Display;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .aboutus-group149 {
    top: 498px;
    left: 565px;
    width: 65px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .aboutus-ellipse49 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .aboutus-ellipse50 {
    top: 0px;
    left: 25px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .aboutus-ellipse51 {
    top: 0px;
    left: 50px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .aboutus-dohsealfullcolor1 {
    top: 126px;
    left: 2px;
    width: 271px;
    height: 271px;
    position: absolute;
  }
  .aboutus-rectangle160 {
    top: 77px;
    left: 0px;
    width: 1228px;
    height: 7px;
    position: absolute;
  }
  .aboutus-rectangle162 {
    top: -20px;
    left: 0px;
    width: 1228px;
    height: 7px;
    position: absolute;
  }
  .aboutus-rectangle163 {
    top: -20px;
    left: 0px;
    width: 1228px;
    height: 7px;
    position: absolute;
  }
  .aboutus-cebu-instituteof-technology-universitylogo1 {
    top: 118px;
    left: 450px;
    width: 299px;
    height: 287px;
    position: absolute;
  }
  .aboutus-red-crosslogo1 {
    top: 126px;
    left: 957px;
    width: 271px;
    height: 271px;
    position: absolute;
  }
  