/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.blood-request-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.blood-request-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.blood-request-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.blood-request-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


/*form css*/

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px auto 20px;
}
form button {
    /* background: var(--primary); */
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    background: #F00;
    width: 50%;
    margin: 3% 25%;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.navi li{
  display:inline;
  padding: 16px;
  text-decoration: underline;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.select-dropdown {
  /* Add your desired styles here */
  width: 143px;
  padding: 10px;
  margin-left: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.select-dropdown.error {
  border-color: red;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 85%;
  padding: 20px;
  margin: 0 auto;
  max-height: 80%;
}
/* LOG IN / SIGN UP */
.logIn,
.signUp {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
  text-decoration: none;
}
.noAcc {
  color: rgb(255, 0, 0); /* Customize the link color */
  text-decoration: underline; /* Add underline to the link */
  cursor: pointer; /* Add pointer cursor on hover */
  margin: 0 5px;
}

.noAcc:hover {
  color: rgb(145, 142, 142); /* Customize the link color on hover */
}
/* OR SIGNIN*/
.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px; /* Adjust the height of the div as needed */
}

.OR {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 0;
  margin: 20px ;
  color: #777; /* Customize the text color */
}

.OR::before,
.OR::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #777; /* Customize the line color */
  margin: 0 10px;
}




.Signwith {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  font-size: 10px; /* Customize the font size of the "OR" text */
  font-weight: 400; /* Optionally, add font weight for emphasis */
  color: #777; /* Customize the text color */
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.blood-request-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.blood-request-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.blood-request-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.blood-request-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* GOOGLE AND MS */

.image-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.img2{
  width: 70px; /* Adjust the width of the images */
  height: auto;
  margin: 0 10px; /* Add some margin between the images */
}
.img3 {
  width: 50px; /* Adjust the width of the images */
  height: auto;
  margin: 0 10px; /* Add some margin between the images */
}
/*form css*/

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px auto 20px;
}
form button {
    /* background: var(--primary); */
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    background: #F00;
    width: 50%;
    margin: 3% 25%;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* lugerers in */


.LUG {
  display: inline-block;
  margin-left: 75px; /* Adjust the margin as needed to create space between the form and the heading */
  /* Add any desired styling for the heading */
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px; /* Adjust the margin as needed */
}

.img1 {
  width: 50px; /* Adjust the width of the image */
  height: auto;
  /* Add any additional styling properties */
}
.HomeLogo {
  top: 100px;
  margin-right: 0px;
}

.HomeLogo1{
  bottom: 60px;
  width: auto; /* Adjust the width of the image */
  height: 50px; 
}
.password-wrapper {
  position: relative;
}
.password-wrapper .password-input {
  position: relative;
}
.password-wrapper .password-input input[type="password"],
.password-wrapper .password-input input[type="text"] {
  width: 100%;
  padding-right: 30px; /* Add space for the icon */
}

.password-wrapper .forgot-password {  
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 145px;
  font-size: 12px;
  color: #555;
  text-decoration: none;
}

.password-wrapper input[type="password"],
.password-wrapper input[type="text"] {
  width: 50%;
  padding-right: 30px;
}

.password-wrapper label.show {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-wrapper a.forgot-password {
  display: block;
  margin-top: 10px;
}

.password-wrapper button {
  margin-top: 20px;
}

.password-wrapper div.error {
  color: red;
  margin-top: 10px;
}

.password-wrapper .forgot-password:hover {
  color: #f00;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.navi li{
  display:inline;
  padding: 16px;
  text-decoration: underline;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}


.select-dropdown {
  /* Add your desired styles here */
  width: 15%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  margin: 0%;
  margin-bottom: 1%;
}

.select-dropdown.error {
  border-color: red;
}

.home{
  display: inline;
}



/*request button in homepage*/

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 300px;
    margin: 0% 2%;

}


/*request button in homepage*/
.requestButton,
.detailsButton,
.historyButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* Rest of your styles... */
  cursor: pointer;
  margin: 3%;
  width: 100%;
  height: 90%;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  
}

.requestButton div,
.detailsButton div,
.historyButton div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15%;
}

.requestButton span,
.detailsButton span,
.historyButton span {
  margin-top: 10px; /* Adjust the margin as needed */
  /* Rest of your styles... */
  color: #F00;
  
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/*bluring effet*/
.blurred {
  filter: blur(5px);
}
.containerAllProfile{
  background-color: #e7195a;
  padding: 2%;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
}
.stats{
  color:  #FFF;
  width: 95%;
  height: 200px;
  border-radius: 25px;
  background: #F00;
  box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
  margin: 2%;
}
.stats h3{
  padding-left: 2%;
  padding-top: 2%;
}

/* SIGN UP PAGE */

h3{
  text-align: center;
}

.error_confirm {
  font-size: 8px; /* Adjust the font size as desired */
  color: red; /* Customize the text color */
  background-color: rgba(249, 192, 192, 0.6); /* Customize the background color with transparency */
  padding: 2px 5px; /* Adjust the padding as desired */
  border-radius: 5px; /* Adjust the border radius to create rounded corners */
  border: 1px solid red; /* Adjust the border size and color */
  width: 100px; /* Adjust the width of the rectangle */
  margin: 10px 140px; /* Center the rectangle horizontally with a top margin */
}


/*blood request form*/
.create{
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  padding: 2%;
  margin-top: 2%;
}

.create input{
  margin-bottom: 1%;
  margin-left: 0%;
}
.create button{
  margin: 1% 25%;
}
.AddBloodRequestButtons{
  margin-top: 2%;
}


.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats .Name {
  padding-top: 1%;
  width: fit-content;
  display: flex;
  flex-direction: column; /* Added */
}

.stats .Name h3 {
  padding-left: 5%;
  margin: 0%;
  font-size: 200%;
  text-align: left;
  line-height: 1; /* Added */
}

.stats .statsData {
  display: flex; /* Added */
  align-items: center; /* Added */
  margin-right: 26%;
}

.stats .statsData > div {
  margin: 0% 15%; /* Added */
  display: flex; /* Added */
  flex-direction: column; /* Added */
  align-items: center; /* Added */
  justify-content: center; /* Added */
  text-align: center; /* Added */
}

.stats .statsData img {
  width: 110px;
  height: 70%;
}

.stats .statsData h2 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  padding-top: 10%;
}
.show{
  position:relative;
  font-size: 12px;
  color: #555; /* Customize the link color */
  text-decoration: none; /* Remove the underline from the link */
  /* Add any additional styling properties for the link */
  /* Add any additional styling properties for the link */
}
.password-wrapper label.show {
  position: absolute;
  top: 20px;
  left: 275px;
}
.spanHome:hover{
  color: #f00;
}
.spanFind:hover{
  color: #f00;
}
.spanProfile:hover{
  color: #f00;
}
.spanAboutUs:hover{
  color: #f00;
}
.Vital {
  margin-bottom: -0.6em;
  padding: 0;;
  margin-left: 100px;
  color: #F00;;
}
.Flow {
  margin-top: 0em;
  padding: 0;
  color: #B70000;
}

/* LANDING PAGE */

.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-index {
  width: 100%;
  height: 3560px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, rgba(234, 234, 234, 1) 0%, rgba(255, 255, 255, 0) 100%);
}
.index-blood-donation1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 875px;
  position: absolute;
}
.index-footer {
  top: 3005px;
  left: 7px;
  width: 1440px;
  height: 555px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(30, 40, 50, 1);
}
.index-row1 {
  top: 45px;
  left: 186px;
  width: 1068px;
  height: 352px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-cta {
  top: 0px;
  left: 320px;
  width: 428px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-button {
  top: 0px;
  left: 253px;
  width: 175px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-rectangle {
  top: 0px;
  left: 0px;
  width: 175px;
  height: 50px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-radius: 8px;
}
.index-text02 {
  top: 11px;
  left: 21px;
  color: rgba(255, 255, 255, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-divider {
  top: 351px;
  left: 0px;
  width: 1068px;
  height: 1px;
  opacity: 0.10;
  position: absolute;
}
.index-divider1 {
  top: 86px;
  left: 0px;
  width: 1068px;
  height: 1px;
  opacity: 0.10;
  position: absolute;
}
.index-row2 {
  top: 181px;
  left: 186px;
  width: 979px;
  height: 182px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-newsletter {
  top: 0px;
  left: 0px;
  width: 289px;
  height: 139px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-form {
  top: 88px;
  left: 0px;
  width: 289px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-rectangle1 {
  top: 50px;
  left: 0px;
  width: 289px;
  height: 1px;
  opacity: 0.10;
  position: absolute;
}
.index-text09 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  opacity: 0.50;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-submit {
  top: 0px;
  left: 239px;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 0, 0, 1);
}
.index-ickeyboardarrowright48px {
  top: 15.3125px;
  left: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-path {
  top: 5px;
  left: 7.1541666984558105px;
  width: 6px;
  height: 10px;
  position: absolute;
}
.index-path1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.index-services {
  top: 0px;
  left: 389px;
  width: 106px;
  height: 182px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text11 {
  color: rgba(255, 8, 8, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text13 {
  top: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text15 {
  top: 82px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text17 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text19 {
  top: 162px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-about {
  top: 0px;
  left: 667px;
  width: 65px;
  height: 182px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text21 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text23 {
  top: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text25 {
  top: 82px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text27 {
  top: 122px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text29 {
  top: 162px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-help {
  top: 0px;
  left: 903px;
  width: 76px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text31 {
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text33 {
  top: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text35 {
  top: 82px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-row3 {
  top: 418px;
  left: 186px;
  width: 1068px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.index-text37 {
  top: 2px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text39 {
  top: 2px;
  left: 173px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-social {
  top: 0px;
  left: 934.038330078125px;
  width: 133.96165466308594px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-frame001facebook {
  top: 1px;
  left: 0px;
  width: 9.923307418823242px;
  height: 19.844961166381836px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-path2 {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 20px;
  position: absolute;
}
.index-frame003twitter {
  top: 2px;
  left: 49.96165466308594px;
  width: 22px;
  height: 17.875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-path3 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 18px;
  position: absolute;
}
.index-frame004instagram {
  top: 0px;
  left: 111.96165466308594px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-shape {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.index-shape1 {
  top: 5.5px;
  left: 5.5px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.index-oval {
  top: 4.354625225067139px;
  left: 16.179624557495117px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.index-text41 {
  top: 3505px;
  left: 186px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle161 {
  top: 1485px;
  left: 3px;
  width: 1440px;
  height: 741px;
  position: absolute;
}
.index-about-us {
  top: 493px;
  left: 50px;
  width: 739px;
  height: 204px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text43 {
  color: rgba(255, 255, 255, 1);
  width: 739px;
  height: auto;
  position: absolute;
  font-size: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.800000011920929) ;
  font-style: Regular;
  text-align: justified;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-image2 {
  top: 1580px;
  left: 163px;
  width: 251px;
  height: 275px;
  position: absolute;
}
.index-navbar {
  top: 73px;
  left: 281px;
  width: 848px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-about-usbutton23 {
  top: 0px;
  left: 191px;
  width: 98px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text45 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-homebutton23 {
  top: 0px;
  left: 4px;
  width: 65px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Outfit;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-find-blood {
  top: 2px;
  left: 417px;
  width: 120px;
  height: 30px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text49 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-register-nowbutton23 {
  top: 2px;
  left: 664px;
  width: 184px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-chevrondown {
  top: 16px;
  left: 161px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.index-tab-bar-selected {
  top: 38px;
  left: 0px;
  width: 72px;
  height: 5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 53, 53, 1);
}
.index-group161 {
  top: 1611px;
  left: 105px;
  width: 1262px;
  height: 544px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-group159 {
  top: 262px;
  left: 0px;
  width: 1254px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-our-mission {
  top: 0px;
  left: 0px;
  width: 1254px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-our-mission1 {
  top: 0px;
  left: 0px;
  width: 1254px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text53 {
  color: rgba(0, 0, 0, 1);
  width: 240px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: ExtraBold;
  text-align: right;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text55 {
  top: 102px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  width: 1250px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: justified;
  font-family: SF UI Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle1611 {
  top: 332px;
  left: 5px;
  width: 1256px;
  height: 7px;
  position: absolute;
}
.index-rectangle162 {
  top: 0px;
  left: 6px;
  width: 1256px;
  height: 7px;
  position: absolute;
}
.index-group1591 {
  top: 1541px;
  left: 109px;
  width: 1251px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-our-mission2 {
  top: 0px;
  left: 0px;
  width: 1251px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-our-mission3 {
  top: 0px;
  left: 0px;
  width: 1251px;
  height: 282px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text57 {
  color: rgba(0, 0, 0, 1);
  width: 950px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text59 {
  top: 102px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 1249px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: justified;
  font-family: SF UI Display;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-group162 {
  top: 1300px;
  left: 68px;
  width: 1342px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text61 {
  top: 7px;
  color: rgba(0, 0, 0, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Light;
  text-align: center;
  font-family: SF UI Display;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text63 {
  top: 7px;
  left: 499px;
  color: rgba(0, 0, 0, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Light;
  text-align: center;
  font-family: SF UI Display;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text65 {
  left: 1016px;
  color: rgba(0, 0, 0, 1);
  width: 326px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Light;
  text-align: center;
  font-family: SF UI Display;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle158button23 {
  top: -26px;
  left: 34px;
  width: 181px;
  height: 198px;
  position: absolute;
  border-radius: 30px;
}
.index-rectangle95button23 {
  top: 64px;
  left: 1195px;
  width: 178px;
  height: 54px;
  position: absolute;
  border-radius: 25px;
}
.index-text67 {
  top: 73px;
  left: 1252px;
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-rectangle159 {
  top: 721px;
  left: 50px;
  width: 254px;
  height: 54px;
  position: absolute;
  border-radius: 25px;
}
.index-text69 {
  top: 730px;
  left: 107px;
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text71 {
  top: 47px;
  left: 63px;
  color: rgba(255, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text73 {
  top: 79px;
  left: 63px;
  color: rgba(183, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text75 {
  top: 277px;
  left: 50px;
  color: rgba(255, 255, 255, 1);
  width: 797px;
  height: auto;
  position: absolute;
  font-size: 80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1) ;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-text77 {
  top: 947px;
  left: 363px;
  color: rgba(255, 0, 0, 1);
  width: 721px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-group163 {
  top: 2329px;
  left: 109px;
  width: 1228px;
  height: 513px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-our-collaberators {
  top: 0px;
  left: 2px;
  width: 630px;
  height: 513px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-group146 {
  top: 0px;
  left: 0px;
  width: 413px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-donorsfrom-tkm {
  top: 0px;
  left: 0px;
  width: 413px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-text79 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: SF UI Display;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-group149 {
  top: 498px;
  left: 565px;
  width: 65px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.index-ellipse49 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.index-ellipse50 {
  top: 0px;
  left: 25px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.index-ellipse51 {
  top: 0px;
  left: 50px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.index-dohsealfullcolor1 {
  top: 126px;
  left: 2px;
  width: 271px;
  height: 271px;
  position: absolute;
}
.index-rectangle160 {
  top: 77px;
  left: 0px;
  width: 1228px;
  height: 7px;
  position: absolute;
}
.index-cebu-instituteof-technology-universitylogo1 {
  top: 118px;
  left: 450px;
  width: 299px;
  height: 287px;
  position: absolute;
}
.index-red-crosslogo1 {
  top: 126px;
  left: 957px;
  width: 271px;
  height: 271px;
  position: absolute;
}
.index-ellipse52 {
  top: 1137px;
  left: 141px;
  width: 115px;
  height: 115px;
  position: absolute;
}
.index-ellipse53 {
  top: 1137px;
  left: 666px;
  width: 115px;
  height: 115px;
  position: absolute;
}
.index-ellipse55 {
  top: 1137px;
  left: 1191px;
  width: 115px;
  height: 115px;
  position: absolute;
}
.index-bxsdonateblood {
  top: 1159px;
  left: 164px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.index-majesticonschatline {
  top: 1159px;
  left: 688px;
  width: 71px;
  height: 71px;
  position: absolute;
}
.index-materialsymbolshistory {
  top: 1159px;
  left: 1213px;
  width: 71px;
  height: 71px;
  position: absolute;
}
