.container2 {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .index2 {
    width: 100%;
    height: 3560px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-image: linear-gradient(180deg, rgba(234, 234, 234, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .blood-donation1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 875px;
    position: absolute;
  }
  .footer {
    top: 3005px;
    left: 7px;
    width: 1440px;
    height: 555px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(30, 40, 50, 1);
  }
  .row1 {
    top: 45px;
    left: 186px;
    width: 1068px;
    height: 352px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .cta {
    top: 0px;
    left: 320px;
    width: 428px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text {
    top: 10px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .button {
    top: 0px;
    left: 253px;
    width: 175px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .rectangle {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 50px;
    position: absolute;
    border-color: rgba(255, 0, 0, 1);
    border-radius: 8px;
  }
  .text02 {
    top: 11px;
    left: 21px;
    color: rgba(255, 255, 255, 1);
    width: 132px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Roboto;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .divider {
    top: 351px;
    left: 0px;
    width: 1068px;
    height: 1px;
    opacity: 0.10;
    position: absolute;
  }
  .divider1 {
    top: 86px;
    left: 0px;
    width: 1068px;
    height: 1px;
    opacity: 0.10;
    position: absolute;
  }
  .row2 {
    top: 181px;
    left: 186px;
    width: 979px;
    height: 182px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .newsletter {
    top: 0px;
    left: 0px;
    width: 289px;
    height: 139px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text04 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .form {
    top: 88px;
    left: 0px;
    width: 289px;
    height: 51px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .rectangle1 {
    top: 50px;
    left: 0px;
    width: 289px;
    height: 1px;
    opacity: 0.10;
    position: absolute;
  }
  .text09 {
    top: 10px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    opacity: 0.50;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .submit {
    top: 0px;
    left: 239px;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 0, 0, 1);
  }
  .ickeyboardarrowright48px {
    top: 15.3125px;
    left: 15px;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .path {
    top: 5px;
    left: 7.1541666984558105px;
    width: 6px;
    height: 10px;
    position: absolute;
  }
  .path1 {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .services {
    top: 0px;
    left: 389px;
    width: 106px;
    height: 182px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text11 {
    color: rgba(255, 8, 8, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text13 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text15 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text17 {
    top: 122px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text19 {
    top: 162px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .about {
    top: 0px;
    left: 667px;
    width: 65px;
    height: 182px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text21 {
    color: rgba(255, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text23 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text25 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text27 {
    top: 122px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text29 {
    top: 162px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .help {
    top: 0px;
    left: 903px;
    width: 76px;
    height: 102px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text31 {
    color: rgba(255, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 17px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text33 {
    top: 42px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text35 {
    top: 82px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .row3 {
    top: 418px;
    left: 186px;
    width: 1068px;
    height: 22px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .text37 {
    top: 2px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text39 {
    top: 2px;
    left: 173px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .social {
    top: 0px;
    left: 934.038330078125px;
    width: 133.96165466308594px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .frame001facebook {
    top: 1px;
    left: 0px;
    width: 9.923307418823242px;
    height: 19.844961166381836px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .path2 {
    top: 0px;
    left: 0px;
    width: 10px;
    height: 20px;
    position: absolute;
  }
  .frame003twitter {
    top: 2px;
    left: 49.96165466308594px;
    width: 22px;
    height: 17.875px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .path3 {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 18px;
    position: absolute;
  }
  .frame004instagram {
    top: 0px;
    left: 111.96165466308594px;
    width: 22px;
    height: 22px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .shape {
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    position: absolute;
  }
  .shape1 {
    top: 5.5px;
    left: 5.5px;
    width: 11px;
    height: 11px;
    position: absolute;
  }
  .oval {
    top: 4.354625225067139px;
    left: 16.179624557495117px;
    width: 1px;
    height: 1px;
    position: absolute;
  }
  .text41 {
    top: 3505px;
    left: 186px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Regular;
    text-align: left;
    font-family: DM Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle161 {
    top: 1485px;
    left: 3px;
    width: 1440px;
    height: 741px;
    position: absolute;
  }
  .about-us {
    top: 493px;
    left: 50px;
    width: 739px;
    height: 204px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text43 {
    color: rgba(255, 255, 255, 1);
    width: 739px;
    height: auto;
    position: absolute;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.800000011920929) ;
    font-style: Regular;
    text-align: justified;
    font-family: Outfit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .image2 {
    top: 1580px;
    left: 163px;
    width: 251px;
    height: 275px;
    position: absolute;
  }
  .navbar {
    top: 73px;
    left: 281px;
    width: 848px;
    height: 43px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .about-usbutton23 {
    top: 0px;
    left: 191px;
    width: 98px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text45 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .homebutton23 {
    top: 0px;
    left: 4px;
    width: 65px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text47 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Medium;
    text-align: left;
    font-family: Outfit;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .find-blood {
    top: 2px;
    left: 417px;
    width: 120px;
    height: 30px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text49 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .register-nowbutton23 {
    top: 2px;
    left: 664px;
    width: 184px;
    height: 39px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text51 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Outfit;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .chevrondown {
    top: 16px;
    left: 161px;
    width: 23px;
    height: 23px;
    position: absolute;
  }
  .tab-bar-selected {
    top: 38px;
    left: 0px;
    width: 72px;
    height: 5px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(255, 53, 53, 1);
  }
  .group161 {
    top: 1611px;
    left: 105px;
    width: 1262px;
    height: 544px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group159 {
    top: 262px;
    left: 0px;
    width: 1254px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .our-mission {
    top: 0px;
    left: 0px;
    width: 1254px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .our-mission1 {
    top: 0px;
    left: 0px;
    width: 1254px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text53 {
    color: rgba(0, 0, 0, 1);
    width: 240px;
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: ExtraBold;
    text-align: right;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text55 {
    top: 102px;
    left: 4px;
    color: rgba(0, 0, 0, 1);
    width: 1250px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: justified;
    font-family: SF UI Display;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle1611 {
    top: 332px;
    left: 5px;
    width: 1256px;
    height: 7px;
    position: absolute;
  }
  .rectangle162 {
    top: 0px;
    left: 6px;
    width: 1256px;
    height: 7px;
    position: absolute;
  }
  .group1591 {
    top: 1541px;
    left: 109px;
    width: 1251px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .our-mission2 {
    top: 0px;
    left: 0px;
    width: 1251px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .our-mission3 {
    top: 0px;
    left: 0px;
    width: 1251px;
    height: 282px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text57 {
    color: rgba(0, 0, 0, 1);
    width: 950px;
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Roboto;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text59 {
    top: 102px;
    left: 2px;
    color: rgba(0, 0, 0, 1);
    width: 1249px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: justified;
    font-family: SF UI Display;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group162 {
    top: 1300px;
    left: 68px;
    width: 1342px;
    height: 79px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text61 {
    top: 7px;
    color: rgba(0, 0, 0, 1);
    width: 302px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Light;
    text-align: center;
    font-family: SF UI Display;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text63 {
    top: 7px;
    left: 499px;
    color: rgba(0, 0, 0, 1);
    width: 302px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Light;
    text-align: center;
    font-family: SF UI Display;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text65 {
    left: 1016px;
    color: rgba(0, 0, 0, 1);
    width: 326px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Light;
    text-align: center;
    font-family: SF UI Display;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle158button23 {
    top: -26px;
    left: 34px;
    width: 181px;
    height: 198px;
    position: absolute;
    border-radius: 30px;
  }
  .rectangle95button23 {
    top: 64px;
    left: 1195px;
    width: 178px;
    height: 54px;
    position: absolute;
    border-radius: 25px;
  }
  .text67 {
    top: 73px;
    left: 1252px;
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .rectangle159 {
    top: 721px;
    left: 50px;
    width: 254px;
    height: 54px;
    position: absolute;
    border-radius: 25px;
  }
  .text69 {
    top: 730px;
    left: 107px;
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text71 {
    top: 47px;
    left: 63px;
    color: rgba(255, 0, 0, 1);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text73 {
    top: 79px;
    left: 63px;
    color: rgba(183, 0, 0, 1);
    width: 122px;
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text75 {
    top: 277px;
    left: 50px;
    color: rgba(255, 255, 255, 1);
    width: 797px;
    height: auto;
    position: absolute;
    font-size: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1) ;
    font-style: ExtraBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text77 {
    top: 947px;
    left: 363px;
    color: rgba(255, 0, 0, 1);
    width: 721px;
    height: auto;
    position: absolute;
    font-size: 80px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group163 {
    top: 2329px;
    left: 109px;
    width: 1228px;
    height: 513px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .our-collaberators {
    top: 0px;
    left: 2px;
    width: 630px;
    height: 513px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .group146 {
    top: 0px;
    left: 0px;
    width: 413px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .donorsfrom-tkm {
    top: 0px;
    left: 0px;
    width: 413px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .text79 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Bold;
    text-align: left;
    font-family: SF UI Display;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .group149 {
    top: 498px;
    left: 565px;
    width: 65px;
    height: 15px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .ellipse49 {
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .ellipse50 {
    top: 0px;
    left: 25px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .ellipse51 {
    top: 0px;
    left: 50px;
    width: 15px;
    height: 15px;
    position: absolute;
  }
  .dohsealfullcolor1 {
    top: 126px;
    left: 2px;
    width: 271px;
    height: 271px;
    position: absolute;
  }
  .rectangle160 {
    top: 77px;
    left: 0px;
    width: 1228px;
    height: 7px;
    position: absolute;
  }
  .cebu-instituteof-technology-universitylogo1 {
    top: 118px;
    left: 450px;
    width: 299px;
    height: 287px;
    position: absolute;
  }
  .red-crosslogo1 {
    top: 126px;
    left: 957px;
    width: 271px;
    height: 271px;
    position: absolute;
  }
  .ellipse52 {
    top: 1137px;
    left: 141px;
    width: 115px;
    height: 115px;
    position: absolute;
  }
  .ellipse53 {
    top: 1137px;
    left: 666px;
    width: 115px;
    height: 115px;
    position: absolute;
  }
  .ellipse55 {
    top: 1137px;
    left: 1191px;
    width: 115px;
    height: 115px;
    position: absolute;
  }
  .bxsdonateblood {
    top: 1159px;
    left: 164px;
    width: 71px;
    height: 71px;
    position: absolute;
  }
  .majesticonschatline {
    top: 1159px;
    left: 688px;
    width: 71px;
    height: 71px;
    position: absolute;
  }
  .materialsymbolshistory {
    top: 1159px;
    left: 1213px;
    width: 71px;
    height: 71px;
    position: absolute;
  }
  